-# Copyright (C) 2018 Google Inc.
-# Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>

-extends "layouts/dashboard.haml"

-block extra_javascript
  GGRC.permissions = ={ permissions_json()|tojson|wrap_in_json_parse|safe };
  GGRC.current_user = ={ current_user_json()|tojson|wrap_in_json_parse|safe };
  GGRC.config = ={ config_json()|tojson|wrap_in_json_parse|safe };
  GGRC.custom_attr_defs =  ={ attributes_json()|tojson|wrap_in_json_parse|safe }
  GGRC.access_control_roles =  ={ access_control_roles_json()|tojson|wrap_in_json_parse|safe }
  GGRC.model_attr_defs =  ={ all_attributes_json(True)|tojson|wrap_in_json_parse|safe }
  GGRC.Bootstrap.exportable = ={ export_definitions()|tojson|wrap_in_json_parse|safe };
  GGRC.pageType = "EXPORT";

-block page_scripts
  %script{ type:'text/javascript', src:'{{config.get("COMMON_JS_PATH")}}' }
  %script{ type:'text/javascript', src:'{{config.get("EXPORT_JS_PATH")}}' }

-block title
  Export

#page-header
  -block header

-block main
  #csv_export
